.container {
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 5px;
}

.wrapper_icon {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.icon {
  display: block;
  max-height: 35px;
  object-fit: cover;
  object-position: center;
}

.wrapper_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
