/* width */

.w-full {
  width: 100%;
}
.w-1 {
  width: var(--offset-high-size);
}
.w-2 {
  width: calc(var(--offset-high-size)  * 2);
}
.w-3 {
  width: calc(var(--offset-high-size)  * 3);
}
.w-4 {
  width: calc(var(--offset-high-size)  * 4);
}
.w-5 {
  width: calc(var(--offset-high-size)  * 5);
}
.w-6 {
  width: calc(var(--offset-high-size)  * 6);
}
.w-7 {
  width: calc(var(--offset-high-size)  * 7);
}
.w-8 {
  width: calc(var(--offset-high-size)  * 8);
}
.w-9 {
  width: calc(var(--offset-high-size)  * 9);
}
.w-10 {
  width: calc(var(--offset-high-size)  * 10);
}
.w-11 {
  width: calc(var(--offset-high-size)  * 11);
}
.w-12 {
  width: calc(var(--offset-high-size)  * 12);
}
.w-13 {
  width: calc(var(--offset-high-size)  * 13);
}
.w-14 {
  width: calc(var(--offset-high-size)  * 14);
}
.w-15 {
  width: calc(var(--offset-high-size)  * 15);
}

/* min-width */

.min-w-1 {
  min-width: var(--offset-high-size);
}
.min-w-2 {
  min-width: calc(var(--offset-high-size)  * 2);
}
.min-w-3 {
  min-width: calc(var(--offset-high-size)  * 3);
}
.min-w-4 {
  min-width: calc(var(--offset-high-size)  * 4);
}
.min-w-5 {
  min-width: calc(var(--offset-high-size)  * 5);
}
.min-w-6 {
  min-width: calc(var(--offset-high-size)  * 6);
}
.min-w-7 {
  min-width: calc(var(--offset-high-size)  * 7);
}
.min-w-8 {
  min-width: calc(var(--offset-high-size)  * 8);
}
.min-w-9 {
  min-width: calc(var(--offset-high-size)  * 9);
}
.min-w-10 {
  min-width: calc(var(--offset-high-size)  * 10);
}
.min-w-11 {
  min-width: calc(var(--offset-high-size)  * 11);
}
.min-w-12 {
  min-width: calc(var(--offset-high-size)  * 12);
}
.min-w-13 {
  min-width: calc(var(--offset-high-size)  * 13);
}
.min-w-14 {
  min-width: calc(var(--offset-high-size)  * 14);
}
.min-w-15 {
  min-width: calc(var(--offset-high-size)  * 15);
}

/* max-width */

.max-w-1 {
  max-width: var(--offset-high-size);
}
.max-w-2 {
  max-width: calc(var(--offset-high-size)  * 2);
}
.max-w-3 {
  max-width: calc(var(--offset-high-size)  * 3);
}
.max-w-4 {
  max-width: calc(var(--offset-high-size)  * 4);
}
.max-w-5 {
  max-width: calc(var(--offset-high-size)  * 5);
}
.max-w-6 {
  max-width: calc(var(--offset-high-size)  * 6);
}
.max-w-7 {
  max-width: calc(var(--offset-high-size)  * 7);
}
.max-w-8 {
  max-width: calc(var(--offset-high-size)  * 8);
}
.max-w-9 {
  max-width: calc(var(--offset-high-size)  * 9);
}
.max-w-10 {
  max-width: calc(var(--offset-high-size)  * 10);
}
.max-w-11 {
  max-width: calc(var(--offset-high-size)  * 11);
}
.max-w-12 {
  max-width: calc(var(--offset-high-size)  * 12);
}
.max-w-13 {
  max-width: calc(var(--offset-high-size)  * 13);
}
.max-w-14 {
  max-width: calc(var(--offset-high-size)  * 14);
}
.max-w-15 {
  max-width: calc(var(--offset-high-size)  * 15);
}

/* height */

.h-1 {
  height: var(--offset-high-size);
}
.h-2 {
  height: calc(var(--offset-high-size)  * 2);
}
.h-3 {
  height: calc(var(--offset-high-size)  * 3);
}
.h-4 {
  height: calc(var(--offset-high-size)  * 4);
}
.h-5 {
  height: calc(var(--offset-high-size)  * 5);
}
.h-6 {
  height: calc(var(--offset-high-size)  * 6);
}
.h-7 {
  height: calc(var(--offset-high-size)  * 7);
}
.h-8 {
  height: calc(var(--offset-high-size)  * 8);
}
.h-9 {
  height: calc(var(--offset-high-size)  * 9);
}
.h-10 {
  height: calc(var(--offset-high-size)  * 10);
}
.h-11 {
  height: calc(var(--offset-high-size)  * 11);
}
.h-12 {
  height: calc(var(--offset-high-size)  * 12);
}
.h-13 {
  height: calc(var(--offset-high-size)  * 13);
}
.h-14 {
  height: calc(var(--offset-high-size)  * 12);
}
.h-15 {
  height: calc(var(--offset-high-size)  * 13);
}

/* min-height */

.min-h-1 {
  min-height: var(--offset-high-size);
}
.min-h-2 {
  min-height: calc(var(--offset-high-size)  * 2);
}
.min-h-3 {
  min-height: calc(var(--offset-high-size)  * 3);
}
.min-h-4 {
  min-height: calc(var(--offset-high-size)  * 4);
}
.min-h-5 {
  min-height: calc(var(--offset-high-size)  * 5);
}
.min-h-6 {
  min-height: calc(var(--offset-high-size)  * 6);
}
.min-h-7 {
  min-height: calc(var(--offset-high-size)  * 7);
}
.min-h-8 {
  min-height: calc(var(--offset-high-size)  * 8);
}
.min-h-9 {
  min-height: calc(var(--offset-high-size)  * 9);
}
.min-h-10 {
  min-height: calc(var(--offset-high-size)  * 10);
}
.min-h-11 {
  min-height: calc(var(--offset-high-size)  * 11);
}
.min-h-12 {
  min-height: calc(var(--offset-high-size)  * 12);
}
.min-h-13 {
  min-height: calc(var(--offset-high-size)  * 13);
}
.min-h-14 {
  min-height: calc(var(--offset-high-size)  * 14);
}
.min-h-15 {
  min-height: calc(var(--offset-high-size)  * 15);
}

/* max-height */

.max-h-1 {
  max-height: var(--offset-high-size);
}
.max-h-2 {
  max-height: calc(var(--offset-high-size)  * 2);
}
.max-h-3 {
  max-height: calc(var(--offset-high-size)  * 3);
}
.max-h-4 {
  max-height: calc(var(--offset-high-size)  * 4);
}
.max-h-5 {
  max-height: calc(var(--offset-high-size)  * 5);
}
.max-h-6 {
  max-height: calc(var(--offset-high-size)  * 6);
}
.max-h-7 {
  max-height: calc(var(--offset-high-size)  * 7);
}
.max-h-8 {
  max-height: calc(var(--offset-high-size)  * 8);
}
.max-h-9 {
  max-height: calc(var(--offset-high-size)  * 9);
}
.max-h-10 {
  max-height: calc(var(--offset-high-size)  * 10);
}
.max-h-11 {
  max-height: calc(var(--offset-high-size)  * 11);
}
.max-h-12 {
  max-height: calc(var(--offset-high-size)  * 12);
}
.max-h-13 {
  max-height: calc(var(--offset-high-size)  * 13);
}
.max-h-14 {
  max-height: calc(var(--offset-high-size)  * 14);
}
.max-h-15 {
  max-height: calc(var(--offset-high-size)  * 15);
}

/* gap */

.g-1 {
  gap: var(--offset-base-size);
}
.g-2 {
  gap: calc(var(--offset-base-size)  * 2);
}
.g-3 {
  gap: calc(var(--offset-base-size)  * 3);
}
.g-4 {
  gap: calc(var(--offset-base-size)  * 4);
}
.g-5 {
  row-gap: calc(var(--offset-base-size)  * 5);
}
.g-6 {
  row-gap: calc(var(--offset-base-size)  * 6);
}
.rg-7 {
  gap: calc(var(--offset-base-size)  * 7);
}
.g-8 {
  gap: calc(var(--offset-base-size)  * 8);
}
.g-9 {
  gap: calc(var(--offset-base-size)  * 9);
}
.g-10 {
  gap: calc(var(--offset-base-size)  * 10);
}
.g-15 {
  gap: calc(var(--offset-base-size)  * 15);
}
.g-20 {
  gap: calc(var(--offset-base-size)  * 20);
}
.g-25 {
  gap: calc(var(--offset-base-size)  * 25);
}
.g-30 {
  gap: calc(var(--offset-base-size)  * 30);
}

/* row-gap */

.rg-1 {
  row-gap: var(--offset-base-size);
}
.rg-2 {
  row-gap: calc(var(--offset-base-size)  * 2);
}
.rg-3 {
  row-gap: calc(var(--offset-base-size)  * 3);
}
.rg-4 {
  row-gap: calc(var(--offset-base-size)  * 4);
}
.rg-5 {
  row-gap: calc(var(--offset-base-size)  * 5);
}
.rg-6 {
  row-gap: calc(var(--offset-base-size)  * 6);
}
.rg-7 {
  row-gap: calc(var(--offset-base-size)  * 7);
}
.rg-8 {
  row-gap: calc(var(--offset-base-size)  * 8);
}
.rg-9 {
  row-gap: calc(var(--offset-base-size)  * 9);
}
.rg-10 {
  row-gap: calc(var(--offset-base-size)  * 10);
}
.rg-15 {
  row-gap: calc(var(--offset-base-size)  * 15);
}
.rg-20 {
  row-gap: calc(var(--offset-base-size)  * 20);
}
.rg-25 {
  row-gap: calc(var(--offset-base-size)  * 25);
}
.rg-30 {
  row-gap: calc(var(--offset-base-size)  * 30);
}

/* column-gap */

.cg-1 {
  column-gap: var(--offset-base-size);
}
.cg-2 {
  column-gap: calc(var(--offset-base-size)  * 2);
}
.cg-3 {
  column-gap: calc(var(--offset-base-size)  * 3);
}
.cg-4 {
  column-gap: calc(var(--offset-base-size)  * 4);
}
.cg-5 {
  column-gap: calc(var(--offset-base-size)  * 5);
}
.cg-6 {
  column-gap: calc(var(--offset-base-size)  * 6);
}
.cg-7 {
  column-gap: calc(var(--offset-base-size)  * 7);
}
.cg-8 {
  column-gap: calc(var(--offset-base-size)  * 8);
}
.cg-9 {
  column-gap: calc(var(--offset-base-size)  * 9);
}
.cg-10 {
  column-gap: calc(var(--offset-base-size)  * 10);
}
.cg-15 {
  column-gap: calc(var(--offset-base-size)  * 15);
}
.cg-20 {
  column-gap: calc(var(--offset-base-size)  * 20);
}
.cg-25 {
  column-gap: calc(var(--offset-base-size)  * 25);
}
.cg-30 {
  column-gap: calc(var(--offset-base-size)  * 30);
}

/* padding */

.p-1 {
  padding: var(--offset-base-size);
}
.p-2 {
  padding: calc(var(--offset-base-size)  * 2);
}
.p-3 {
  padding: calc(var(--offset-base-size)  * 3);
}
.p-4 {
  padding: calc(var(--offset-base-size)  * 4);
}
.p-5 {
  padding: calc(var(--offset-base-size)  * 5);
}
.p-6 {
  padding: calc(var(--offset-base-size)  * 6);
}
.p-7 {
  padding: calc(var(--offset-base-size)  * 7);
}
.p-8 {
  padding: calc(var(--offset-base-size)  * 8);
}
.p-9 {
  padding: calc(var(--offset-base-size)  * 9);
}
.p-10 {
  padding: calc(var(--offset-base-size)  * 10);
}
.p-15 {
  padding: calc(var(--offset-base-size)  * 15);
}
.p-20 {
  padding: calc(var(--offset-base-size)  * 20);
}
.p-25 {
  padding: calc(var(--offset-base-size)  * 25);
}
.p-30 {
  padding: calc(var(--offset-base-size)  * 30);
}

/* padding-left */

.pl-1 {
  padding-left: var(--offset-base-size);
}
.pl-2 {
  padding-left: calc(var(--offset-base-size)  * 2);
}
.pl-3 {
  padding-left: calc(var(--offset-base-size)  * 3);
}
.pl-4 {
  padding-left: calc(var(--offset-base-size)  * 4);
}
.pl-5 {
  padding-left: calc(var(--offset-base-size)  * 5);
}
.pl-6 {
  padding-left: calc(var(--offset-base-size)  * 6);
}
.pl-7 {
  padding-left: calc(var(--offset-base-size)  * 7);
}
.pl-8 {
  padding-left: calc(var(--offset-base-size)  * 8);
}
.pl-9 {
  padding-left: calc(var(--offset-base-size)  * 9);
}
.pl-10 {
  padding-left: calc(var(--offset-base-size)  * 10);
}
.pl-15 {
  padding-left: calc(var(--offset-base-size)  * 15);
}
.pl-20 {
  padding-left: calc(var(--offset-base-size)  * 20);
}
.pl-25 {
  padding-left: calc(var(--offset-base-size)  * 25);
}
.pl-30 {
  padding-left: calc(var(--offset-base-size)  * 30);
}

/* padding-right */

.pr-1 {
  padding-right: var(--offset-base-size);
}
.pr-2 {
  padding-right: calc(var(--offset-base-size)  * 2);
}
.pr-3 {
  padding-right: calc(var(--offset-base-size)  * 3);
}
.pr-4 {
  padding-right: calc(var(--offset-base-size)  * 4);
}
.pr-5 {
  padding-right: calc(var(--offset-base-size)  * 5);
}
.pr-6 {
  padding-right: calc(var(--offset-base-size)  * 6);
}
.pr-7 {
  padding-right: calc(var(--offset-base-size)  * 7);
}
.pr-8 {
  padding-right: calc(var(--offset-base-size)  * 8);
}
.pr-9 {
  padding-right: calc(var(--offset-base-size)  * 9);
}
.pr-10 {
  padding-right: calc(var(--offset-base-size)  * 10);
}
.pr-15 {
  padding-right: calc(var(--offset-base-size)  * 15);
}
.pr-20 {
  padding-right: calc(var(--offset-base-size)  * 20);
}
.pr-25 {
  padding-right: calc(var(--offset-base-size)  * 25);
}
.pr-30 {
  padding-right: calc(var(--offset-base-size)  * 30);
}

/* padding-top */

.pt-1 {
  padding-top: var(--offset-base-size);
}
.pt-2 {
  padding-top: calc(var(--offset-base-size)  * 2);
}
.pt-3 {
  padding-top: calc(var(--offset-base-size)  * 3);
}
.pt-4 {
  padding-top: calc(var(--offset-base-size)  * 4);
}
.pt-5 {
  padding-top: calc(var(--offset-base-size)  * 5);
}
.pt-6 {
  padding-top: calc(var(--offset-base-size)  * 6);
}
.pt-7 {
  padding-top: calc(var(--offset-base-size)  * 7);
}
.pt-8 {
  padding-top: calc(var(--offset-base-size)  * 8);
}
.pt-9 {
  padding-top: calc(var(--offset-base-size)  * 9);
}
.pt-10 {
  padding-top: calc(var(--offset-base-size)  * 10);
}
.pt-15 {
  padding-top: calc(var(--offset-base-size)  * 15);
}
.pt-20 {
  padding-top: calc(var(--offset-base-size)  * 20);
}
.pt-25 {
  padding-top: calc(var(--offset-base-size)  * 25);
}
.pt-30 {
  padding-top: calc(var(--offset-base-size)  * 30);
}

/* padding-bottom */

.pb-1 {
  padding-bottom: var(--offset-base-size);
}
.pb-2 {
  padding-bottom: calc(var(--offset-base-size)  * 2);
}
.pb-3 {
  padding-bottom: calc(var(--offset-base-size)  * 3);
}
.pb-4 {
  padding-bottom: calc(var(--offset-base-size)  * 4);
}
.pb-5 {
  padding-bottom: calc(var(--offset-base-size)  * 5);
}
.pb-6 {
  padding-bottom: calc(var(--offset-base-size)  * 6);
}
.pb-7 {
  padding-bottom: calc(var(--offset-base-size)  * 7);
}
.pb-8 {
  padding-bottom: calc(var(--offset-base-size)  * 8);
}
.pb-9 {
  padding-bottom: calc(var(--offset-base-size)  * 9);
}
.pb-10 {
  padding-bottom: calc(var(--offset-base-size)  * 10);
}
.pb-15 {
  padding-bottom: calc(var(--offset-base-size)  * 15);
}
.pb-20 {
  padding-bottom: calc(var(--offset-base-size)  * 20);
}
.pb-25 {
  padding-bottom: calc(var(--offset-base-size)  * 25);
}
.pb-30 {
  padding-bottom: calc(var(--offset-base-size)  * 30);
}

/* margin */

.m-1 {
  margin: var(--offset-base-size);
}
.m-2 {
  margin: calc(var(--offset-base-size)  * 2);
}
.m-3 {
  margin: calc(var(--offset-base-size)  * 3);
}
.m-4 {
  margin: calc(var(--offset-base-size)  * 4);
}
.m-5 {
  margin: calc(var(--offset-base-size)  * 5);
}
.m-6 {
  margin: calc(var(--offset-base-size)  * 6);
}
.m-7 {
  margin: calc(var(--offset-base-size)  * 7);
}
.m-8 {
  margin: calc(var(--offset-base-size)  * 8);
}
.m-9 {
  margin: calc(var(--offset-base-size)  * 9);
}
.m-10 {
  margin: calc(var(--offset-base-size)  * 10);
}
.m-15 {
  margin: calc(var(--offset-base-size)  * 15);
}
.m-20 {
  margin: calc(var(--offset-base-size)  * 20);
}
.m-25 {
  margin: calc(var(--offset-base-size)  * 25);
}
.m-30 {
  margin: calc(var(--offset-base-size)  * 30);
}

/* margin-left */

.ml-1 {
  margin-left: var(--offset-base-size);
}
.ml-2 {
  margin-left: calc(var(--offset-base-size)  * 2);
}
.ml-3 {
  margin-left: calc(var(--offset-base-size)  * 3);
}
.ml-4 {
  margin-left: calc(var(--offset-base-size)  * 4);
}
.ml-5 {
  margin-left: calc(var(--offset-base-size)  * 5);
}
.ml-6 {
  margin-left: calc(var(--offset-base-size)  * 6);
}
.ml-7 {
  margin-left: calc(var(--offset-base-size)  * 7);
}
.ml-8 {
  margin-left: calc(var(--offset-base-size)  * 8);
}
.ml-9 {
  margin-left: calc(var(--offset-base-size)  * 9);
}
.ml-10 {
  margin-left: calc(var(--offset-base-size)  * 10);
}
.ml-15 {
  margin-left: calc(var(--offset-base-size)  * 15);
}
.ml-20 {
  margin-left: calc(var(--offset-base-size)  * 20);
}
.ml-25 {
  margin-left: calc(var(--offset-base-size)  * 25);
}
.ml-30 {
  margin-left: calc(var(--offset-base-size)  * 30);
}

/* margin-right */

.mr-1 {
  margin-right: var(--offset-base-size);
}
.mr-2 {
  margin-right: calc(var(--offset-base-size)  * 2);
}
.mr-3 {
  margin-right: calc(var(--offset-base-size)  * 3);
}
.mr-4 {
  margin-right: calc(var(--offset-base-size)  * 4);
}
.mr-5 {
  margin-right: calc(var(--offset-base-size)  * 5);
}
.mr-6 {
  margin-right: calc(var(--offset-base-size)  * 6);
}
.mr-7 {
  margin-right: calc(var(--offset-base-size)  * 7);
}
.mr-8 {
  margin-right: calc(var(--offset-base-size)  * 8);
}
.mr-9 {
  margin-right: calc(var(--offset-base-size)  * 9);
}
.mr-10 {
  margin-right: calc(var(--offset-base-size)  * 10);
}
.mr-15 {
  margin-right: calc(var(--offset-base-size)  * 15);
}
.mr-20 {
  margin-right: calc(var(--offset-base-size)  * 20);
}
.mr-25 {
  margin-right: calc(var(--offset-base-size)  * 25);
}
.mr-30 {
  margin-right: calc(var(--offset-base-size)  * 30);
}

/* margin-top */

.mt-1 {
  margin-top: var(--offset-base-size);
}
.mt-2 {
  margin-top: calc(var(--offset-base-size)  * 2);
}
.mt-3 {
  margin-top: calc(var(--offset-base-size)  * 3);
}
.mt-4 {
  margin-top: calc(var(--offset-base-size)  * 4);
}
.mt-5 {
  margin-top: calc(var(--offset-base-size)  * 5);
}
.mt-6 {
  margin-top: calc(var(--offset-base-size)  * 6);
}
.mt-7 {
  margin-top: calc(var(--offset-base-size)  * 7);
}
.mt-8 {
  margin-top: calc(var(--offset-base-size)  * 8);
}
.mt-9 {
  margin-top: calc(var(--offset-base-size)  * 9);
}
.mt-10 {
  margin-top: calc(var(--offset-base-size)  * 10);
}
.mt-15 {
  margin-top: calc(var(--offset-base-size)  * 15);
}
.mt-20 {
  margin-top: calc(var(--offset-base-size)  * 20);
}
.mt-25 {
  margin-top: calc(var(--offset-base-size)  * 25);
}
.mt-30 {
  margin-top: calc(var(--offset-base-size)  * 30);
}

/* margin-bottom */

.mb-1 {
  margin-bottom: var(--offset-base-size);
}
.mb-2 {
  margin-bottom: calc(var(--offset-base-size)  * 2);
}
.mb-3 {
  margin-bottom: calc(var(--offset-base-size)  * 3);
}
.mb-4 {
  margin-bottom: calc(var(--offset-base-size)  * 4);
}
.mb-5 {
  margin-bottom: calc(var(--offset-base-size)  * 5);
}
.mb-6 {
  margin-bottom: calc(var(--offset-base-size)  * 6);
}
.mb-7 {
  margin-bottom: calc(var(--offset-base-size)  * 7);
}
.mb-8 {
  margin-bottom: calc(var(--offset-base-size)  * 8);
}
.mb-9 {
  margin-bottom: calc(var(--offset-base-size)  * 9);
}
.mb-10 {
  margin-bottom: calc(var(--offset-base-size)  * 10);
}
.mb-15 {
  margin-bottom: calc(var(--offset-base-size)  * 15);
}
.mb-20 {
  margin-bottom: calc(var(--offset-base-size)  * 20);
}
.mb-25 {
  margin-bottom: calc(var(--offset-base-size)  * 25);
}
.mb-30 {
  margin-bottom: calc(var(--offset-base-size)  * 30);
}
