.app {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 100%;
  max-height: calc(100vh - 106px);
  padding-top: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.list {
  list-style-type: none;
  max-width: 100%;
  margin: 0;
  padding: 0;
  padding-right: calc(var(--offset-base-size) * 4);
  box-sizing: border-box;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  row-gap: calc(var(--offset-base-size) * 10);
}

.list::-webkit-scrollbar {
  width: calc(var(--offset-base-size) * 2);
}
