.header {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
