.container {
  display: flex;
  flex-direction: column;
}

.title_wrapper {
  height: 110px;
  padding-top: calc(var(--offset-base-four) * 10);
  display: flex;
  align-items: flex-end;
  gap: calc(var(--offset-base-four) * 10);
}

.logo {
  height: 66px;
  padding-bottom: 4px;
  display: flex;
  justify-content: flex-start;
}

.image {
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.title {
  max-width: calc(var(--offset-base-four-by-ten) * 10);
  font-size: calc(var(--offset-base-two) * 13);
  line-height: 1.25;
}

@media screen and (max-width: 1040px) {
  .title_wrapper {    
    height: 90px;
  }
  .logo {
    height: 46px;
    padding-bottom: 4px;
  }
  .title {
    max-width: calc(var(--offset-base-four-by-ten) * 7);
    font-size: calc(var(--offset-base-two) * 10);
    line-height: 1.25;
  }
}

@media screen and (max-width: 800px) {
  .title_wrapper {
    height: 155px;
    padding-top: calc(var(--offset-base-four) * 10);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: calc(var(--offset-base-four) * 5);
  }
  .logo {
    width: 100%;
    height: 50px;
    justify-content: center;
  }
  .title {
    max-width: calc(var(--offset-base-four-by-ten) * 9);
    font-size: calc(var(--offset-base-two) * 9);
  }
}

@media screen and (max-width: 680px) {
  .container {
    align-items: center;
  }
  .title_wrapper {
    padding-top: calc(var(--offset-base-four) * 5);
    justify-content: center;
  }
  .logo {
    height: 35px;
  }
  .title {
    max-width: calc(var(--offset-base-four-by-ten) * 6);
    font-size: calc(var(--offset-base-two) * 7);
    text-align: center;
    text-wrap: balance;
  }
}
